
{% set activeLink = "features" %}

{% extends "layout.html" %}

{% block pageTitle %}
    Home page
{% endblock %}

{% block content %}

    <div class="row">
        <div class="width-container">
            <div class="column-full">
                <h1 class="hero left">Features to help you focus on your business, not your books</h1>
                <p class="hero left">We're adding more features as we go, <a href="/support">let us know</a> if there's something we can help you with.</p>  
            </div>
        </div>
    </div>
    <div class="row feature feature-no-border">
        <div class="width-container">
            <div class="column-one-third">
                <img src="/public/images/f_add.png" alt="iPhone showing a list of different expense categories with 'Office costs' selected">
            </div>
            <div class="column-two-thirds">
                <div class="feature-summary">
                    <h2>
                        Easily add transactions, wherever you are
                    </h2>
                    <p>
                        Adding transactions on the move is easy, tell us how much, what it was and which category it belongs to and you’re done!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row feature feature-no-border">
        <div class="width-container reverse">
            <div class="column-one-third">
                <img src="/public/images/f_photo.png" alt="iPhone showing a someone taking a picture of a receipt">
            </div>
            <div class="column-two-thirds">
                <div class="feature-summary">
                    <h2>
                        Add photos of your receipts and invoices
                    </h2>
                    <p>
                        Use your device’s camera to snap receipts and store them securely in Microbooks. Already taken a picture? You can choose a photo from your photo library directly from the app too.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row feature feature-no-border">
        <div class="width-container">
            <div class="column-one-third">
                <img src="/public/images/f_share.png" alt="iPhone showing a transaction being shared to someone else">
            </div>
            <div class="column-two-thirds">
                <div class="feature-summary">
                    <h2>
                        Share transactions and receipts one-by-one
                    </h2>
                    <p>
                        Tap and share your income and expenses with anyone with one tap. You can send transactions by email, message, add to notes, or just copy and paste into other apps.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row feature feature-no-border">
        <div class="width-container reverse">
            <div class="column-one-third">
                <img src="/public/images/f_export.png" alt="iPhone showing a spreadsheet of many transactions, both income and expenses">
            </div>
            <div class="column-two-thirds">
                <div class="feature-summary">
                    <h2>
                        Export transactions as a spreadsheet
                    </h2>
                    <p>
                        Export transactions as a .csv file. Open the file in Microsoft Excel, Apple Numbers or Google Sheets to do your own number crunching.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row feature feature-no-border">
        <div class="width-container">
            <div class="column-one-third">
                <img src="/public/images/f_multiple.png" alt="iPhone showing a list of different colorful books with business names on the front covers">
            </div>
            <div class="column-two-thirds">
                <div class="feature-summary">
                    <h2>
                        Manage multiple businesses
                    </h2>
                    <p>
                        You can add as many Microbooks as you need with the option to customize each one. You can manage finances for a limitless number of businesses, if you can find the time!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row feature feature-no-border">
        <div class="width-container reverse">
            <div class="column-one-third">
                <img src="/public/images/f_filter.png" alt="iPhone showing someone filtering a list of transactions by date, type and whether they have a receipt or not">
            </div>
            <div class="column-two-thirds">
                <div class="feature-summary">
                    <h2>
                        Filter and search for transactions
                    </h2>
                    <p>
                        Filter transactions by when they happened, by which category they belong to, whether they’re an income or expense and even if you’ve added a receipt to them or not.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row feature feature-no-border">
        <div class="width-container">
            <div class="column-one-third">
                <img src="/public/images/f_covers.png" alt="iPhone showing someone creating a colorful book cover with the business name 'Tiana's Place' in the middle">
            </div>
            <div class="column-two-thirds">
                <div class="feature-summary">
                    <h2>
                        Create unique book covers
                    </h2>
                    <p>
                        Bookkeeping doesn’t have to be boring. Add a touch of panache by choosing the color and style of your very own Microbooks.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row feature feature-no-border">
        <div class="width-container reverse">
            <div class="column-one-third">
                <img src="/public/images/f_face_id.png" alt="Face ID logo">
            </div>
            <div class="column-two-thirds">
                <div class="feature-summary">
                    <h2>
                        Protect your books with Touch ID and Face ID
                        <span class="feature-tag">Coming soon</span>
                    </h2>
                    <p>
                        Keep your business financial data secure by protecting them with Touch ID, Face ID where available, if not you can use a passcode to get to your transactions.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row feature feature-no-border">
        <div class="width-container">
            <div class="column-one-third">
                <img src="/public/images/f_collab.png" alt="Share / collaborate icon">
            </div>
            <div class="column-two-thirds">
                <div class="feature-summary">
                    <h2>
                        Invite others to collaborate
                        <span class="feature-tag">Coming soon</span>
                    </h2>
                    <p>
                        Manage your business with a friend? Share your book with them and they can view and add transactions and have up-to-date financial data always.
                    </p>
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}
