
{% set activeLink = "ios" %}

{% extends "layout.html" %}

{% block pageTitle %}
    Microbooks for iPhone and iPad
{% endblock %}

{% block content %}

    <div class="row">
        <div class="width-container">
            <div class="column-two-thirds">
                <h1 class="hero left">The wait is over</h1>
                <p class="hero left">get Microbooks for iPhone and iPad today</p>  
                <img src="/public/images/mb_ios_icon.png" alt="" width="300">  
            </div>
        </div>
    </div>
    

{% endblock %}
