
{% set activeLink = "privacy" %}

{% extends "layout.html" %}

{% block pageTitle %}
    Privacy policy
{% endblock %}

{% block content %}

    <div class="row">
        <div class="width-container">
            <div class="column-two-thirds">
                <h1 class="hero left">Our privacy policy</h1>
                <p class="hero left">Protecting your financial data, privately</p> 
            </div>
        </div>
    </div>

    <div class="row">
        <div class="width-container">
            <div class="column-two-thirds">
                <h2>Storing your data</h2>
                <p>Microbooks uses Apple’s iCloud technology to safely store the information you provide. Apple is a renown world-leader in the field of data privacy and security.</p>
                <p>Our team cannot access any data you put into the software.</p>
                <p>We do not collect any personally identifiable information from our users.</p>

                <h2>Accessing and deleting your data</h2>
                <p>All of the data we hold through iCloud is accessible through the software, you can choose to delete any of this information directly in the software.</p>
                <p>If you wish to delete all data we hold through iCloud simply delete all of the Microbooks you have added, this will delete your transactions and any receipts attached to them.</p>

                <h2>Links to third party services</h2>
                <p>Presently, Microbooks uses no third party services. The software is built using Apple-provided SDKs and tools. For more information about these services please visit <a href="https://aaple.com/">apple.com</a>.</p>
            </div>
        </div>
    </div>
    

{% endblock %}
